body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 0.5px;
  background: pink;
  height: 2px;
  border-color: hotpink;
}

h3.show-error{
  background: #f86363;;
  border: 2px solid red; 
  color: red;
}

h3.show-info{
  background: #74ff74;
  border: 2px solid #009c0d;
  color: #009c0d;
}

h3.show-warn{
  background: #ffd4a6;
  border: 2px solid orangered;
  color: orangered;
}

h3.show-message{
  text-align: center;
  font-size: 12pt;
  border-radius: 5px;
  height: 21px;
}

#show-peoples{
  display: inline-block;
}

div.picture{
  position: relative;
  height: 80px;
  width: 90px;
  float: left;
}

.poeple-card {
  float: left;
  margin: 8px 5px 8px 5px;
  width: 280px;
  height: 82px;
}

.div-data-people{
  float: left;
}

.div-data-people div{
  margin-bottom: 2px; 
}

.invisible{
  display: none;
}