<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <!-- My CSS -->
        <link href="/stylesheets/style.css" rel="stylesheet">

    </head>

    <body>
        <h1 class="text-center">Hello People!</h1>

        <hr></hr>

        <div id="show-peoples" class="">

        </div>

    </body>

    
    <script src="/javascripts/gen_view/PeopleView.js"></script>
</html>