<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <!-- My CSS -->
        <link href="/stylesheets/style.css" rel="stylesheet">

    </head>

    <body>
        <h1 class="text-center">Hello People!</h1>

        <div id="show-messages"></div>

        <hr></hr>

        <div id="show-peoples" class="">

        </div>

    </body>

    <script src="/javascripts/gen_view/PeopleView.js"></script>
    <script src="/javascripts/gen_view/MessageView.js"></script>
    <script src="/javascripts/ws_sockets/ws_peoples.js"></script>
    <script src="/javascripts/ws_sockets/controllers/PeopleSocketControl.js"></script>

    <script>

        let people = new PeopleView(document.querySelector('#show-peoples'));
        let message = new MessageView(document.querySelector('#show-messages'));
        const controller = new PeopleSocketControl(people, message);

        clientSocket(controller);
        
    </script>
    
</html>